@import "stylesheet.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";
/* ========================================================MAIN ABOUT======================================================= */
.main {
  flex-grow: 1;
}
.about {
  padding: 140px 0;
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  grid-template-rows: 1fr auto;
  gap: 40px 53px;
}
.about__image {
  grid-row: 1 / -1;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  
}
.about__image>img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}
/* =====================================================MAIN ЗНАЧЁК У ДЕВУШКИ С ТОРТОМ=========================== */
.about__badge {
  position: absolute;
  bottom: 4%;
  left: 4%;
  max-width: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  color: #FFF9F4;
  background: rgba(149, 123, 151, 0.9);
}
.about__badge-button {
  position: relative;
  display: block; 
  margin: 15px 10px 15px 20px; 
  padding: 22px;
  border-radius: 100%;
  background: #FFF9F4;
}
.about__badge-button::before {
  content: '';
  position: absolute;
  inset: 5px;
  border: 1px solid rgba(149, 123, 151);
  border-radius: 100px;
  opacity: 0;
  transition: var(--transition);
}
.about__badge-button:hover::before {
  opacity: 1;
}
/* =========================================================================================================== */
.about__text {
  margin: 30px 0 40px 0;
}
.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.about__grid-item {
  display: flex;
  gap: 15px;
  padding: 29px 24px;
  align-items: center;
  border-radius: 20px;
  background: var(--accent-bg);
}
.about__grid-img {
  display: flex;
  padding: 18px;
  border-radius: 100%;
  border: 1px solid var(--font-color);
}
/* ====================MAIN PROGRAM================== */
.program {
  margin-bottom: 140px;
}
.program__top {
  display: flex;
  gap: 30px 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.program__title {  
  margin-bottom: 20px;
}
/* ================Tab controls====================== */
.tab__controls {
  display: flex;
  gap: 26px;
}
.tab__controls-link {
  display: block;
  padding: 14px 30px;
  border-radius: 100px;
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
  white-space: nowrap;
  transition: var(--transition);
}
.tab__controls-link:hover {
  background-color: var(--accent-bg);
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}
.tab__controls-link--active {
  background-color: var(--accent-bg);
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}
.tab-content {
  display: none;
}
.tab-content--show {
  display: block;
}
/* ================Accordion========================== */
.accordion-list__item {
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  margin-bottom: 30px;
}
.accordion-list__item:last-child {
  margin-bottom: 0;
}
.accordion-list__control { 
  display: flex;
  justify-content: space-between;  
  gap: 15px;
  

  padding: 41px 30px;
  width: 100%;

  background: transparent;
  font-size: inherit; 

  text-align: left;
  font-family: 'Gabriola', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 90%;
  color: var(--title-color);
  transition: var(--transition);
}
.accordion-list__item--opened .accordion-list__control {
  padding-bottom: 20px;
}
.accordion-list__control-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;

  transition: var(--transition);
}
.accordion-list__control-icon svg {
  margin-left: 1px;
}
.accordion-list__control-icon path {
  transition: var(--transition);
}
.accordion-list__item--opened:hover .accordion-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}
.accordion-list__item--opened:hover .accordion-list__control-icon path {
  fill: #FFF9F4;
}
.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.accordion-content {
  display: flex;
  gap: 80px;
  padding: 0 30px 40px 30px;
}
.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}
.accordion-content__title {
  text-transform: uppercase; 
  color: #CEAAD0;
  line-height: 1.6;
  margin-bottom: 20px;
}
.accordion-content__item {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-bottom: 20px;
}
.accordion-content__item:last-child {
  margin-bottom: 0;
}
.accordion-content__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #CEAAD0;
}
.accordion-content__text {
  max-width: 274px;
}
/* ===================PROGRAM BOTTOM=============================================== */
.program__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}
.program__action {
  flex-shrink: 0;
  max-width: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.4fr .9fr;
  grid-template-rows: auto auto auto;
  gap: 40px;
}
.program__img img {
  width: 100%;
  height: 100%;
}
.program__discount {
  grid-row: 1 / 3;
  padding: 40px 40px 40px 40px;
  font-size: 20px;
  border-radius: 20px;
  background: var(--accent-bg);
}
.program__discount-value {
  font-family: 'Gabriola', sans-serif;
  margin-bottom: 7px;
  font-size: 74px;
  line-height: 82%;
  text-align: center;
  color: var(--accent-color);
  transform-origin: 0 0; 
  animation: price-bounce 1s infinite linear alternate;  
}
.program__discount span {
  display: block;
  margin-right: 40px;
  text-align: end;
  font-size: 16px;
  line-height: 150%;
}
/* ===========Анимирование program__discount-value============== */
@keyframes price-bounce {
  0% {
    transform: scale(1);
    color: var(--accent-color);
  } 
  100% {
    transform: translatex(3%) scale(1.1);
      
    color: #FF9138;
  }
}
/* ========================================= */
.program__price {
  font-family: 'Gabriola', sans-serif;
  font-size: 32px;
  color: var(--title-color);
}
.program__price--discount {
  line-height: 0.9;
  align-self: end;
  font-size: 50px;  
}
.program__price span {
  line-height: 1.5;
  font-family: 'Montserrat';
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  color: #CEAAD0;
}
.program__discount-button {
  height: 62px;
  grid-column: 1 / -1;
}
/* ====================GALLERY========================================== */
.main__gallery {
  margin-bottom: 140px;
}
.gallery__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 40px;
}
.gallery__img {
  justify-self: center;
  align-self: center;
}
.gallery__img img {
  width: 100%;
}
.gallery__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 15px;
}
.gallery__info {
  max-width: 380px;
}
.gallery__title {
  margin-bottom: 20px;
}
.gallery__nav {
  display: flex;
  align-items: center;
  gap: 98px;
  font-family: 'Gabriola';
  font-size: 42px;
  line-height: 0.9; 
  position: relative;
}
.gallery__pagination {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: auto;
  width: auto;
  transform: translate(-50%, 0%);
}
.gallery__prev,
.gallery__next {
  display: flex;
  cursor: pointer;
  background: transparent;
  padding: 11px 11px 11px 11px;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  transition: var(--transition);
}
.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.5px solid #E1D9E1;
    cursor: auto;
}
.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #E1D9E1;
}
.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
}
.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: #E1D9E1;
}
.gallery__prev path,
.gallery__next path {
  transition: var(--transition);
}
.gallery__prev:hover path,
.gallery__next:hover path {
  fill: #FFF9F4;
}
.gallery__prev:hover,
.gallery__next:hover {
  background: var(--accent-color);
}
.gallery__slide {
  overflow: hidden;
  border-radius: 20px;
}
.gallery__slide img {
  width: 100%; 
}
/* ======================ОТЗЫВЫ============================ */
.main__testimonials {
  margin-bottom: 140px;
}
.testimonials__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 40px;
  gap: 15px;
}
.testimonials__info {
  max-width: 632px;
}
.testimonials__title {
  margin-bottom: 20px;
}
.testimonials__nav {
  display: flex;
  gap: 15px;
}
.testimonials__next,
.testimonials__prev {
  display: flex;
  cursor: pointer;
  background: transparent;
  padding: 11px 11px 11px 11px;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  transition: var(--transition);
}
.testimonials__prev:hover,
.testimonials__next:hover {
  background: var(--accent-color);
}
.testimonials__prev:hover path,
.testimonials__next:hover path {
  transition: var(--transition);
}
.testimonials__prev:hover path,
.testimonials__next:hover path {
  fill: #FFF9F4;
}
.testimonials__slider {
  overflow: visible;
}
.testimonials__wrapper {
  margin-bottom: 40px;
}
.testimonials__slide {
  height: auto;
  display: flex;
  width: 100%;
  gap: 30px;
  background: var(--accent-bg);
  border-radius: 20px;
  padding: 30px 30px 40px 30px;
  transition: var(--transition);
  opacity: 0;
  flex-shrink: 0;
}
.swiper-slide-prev.testimonials__slide,
.swiper-slide-next.testimonials__slide {
  opacity: .5;
}
.testimonials__slide.swiper-slide { 
  transform: scale(.9);
}
.swiper-slide-active.testimonials__slide {
  transform: scale(1);
  opacity: 1;
}
.testimonials__student { 
  width: 100%; 
}
.testimonials__student-img {
  text-align: center;
}
.testimonials__student-img img {
  border-radius: 20px;
}
.testimonials__student-name {
  text-align: center;
  margin: 20px 0 5px 0;
  text-transform: uppercase;
  color: var(--title-color);
  line-height: 1.6;
}
.testimonials__student-inst {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #CEAAD0;
}
.testimonials__blockquote  span {
  display: block;
  font-family: 'Gabriola', sans-serif;
  font-size: 32px;
  line-height: 90%;
  color: var(--title-color);
  margin-bottom: 10px;
}
.testimonials__scrollbar {
  background: var(--accent-bg);
}
.testimonials__scrollbar.swiper-scrollbar {
  position: static;
  width: 100%;
  height: 7px;
}
.testimonials__scrollbar .swiper-scrollbar-drag {
  background: var(--accent-color);
}
/* ===================CONTACT============================ */
.contact {
  padding: 140px 0;
  background: url("../images/decor/bg_footer.png") 50% 0% / cover no-repeat;
  position: relative;
}
.contact__inner {
  display: flex;
  align-items: end;
  gap: 84px;
  position: relative;
}
.contact__inner::after {
  content: url("../images/decor/beris1.png");
  position: absolute;
  top:-4%;
  left: 0%;
}
.contact__inner::before {
  content: url("../images/decor/beris2.png");
  position: absolute;
  top: 8%;
  right: 0%;
}
.contact__img img {
  width: 100%;
  filter: drop-shadow(0px 4px 30px rgba(198, 176, 161, 0.3));
}
.contact__main {
  max-width: 420px;
}

.contact__text {
  margin: 20px 0 40px 0;
}
.contact__label {
  margin-bottom: 10px;
}
.contact__input {
  margin-bottom: 20px;
}
.contact__lable {
  position: relative;
  display: block;
  margin: 30px 0 10px 0;
}
.contact__lable span {
    position:absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: var(--input-color);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}
.contact__input { 
    display: block;
    width: 100%;
    padding: 19px 41px 19px 28px;
    color: var(--font-color);
    border: 1px solid var(--input-color);
    border-radius: 100px;
    font-size: 16px;
    background: transparent;
    transition: var(--transition);
}
.contact__input:hover {
    border-color: var(--accent-color);
}
.contact__input::placeholder {
    color: var(--input-color);
    transition: var(--transition);
}
.contact__input:hover::placeholder {
    color: var(--accent-color);
}
/* ==================CHECKBOX=========================== */
.contact__check-lable {
  display: flex;
  align-items: start;
  gap: 5px;
  max-width: 280px;
  font-size: 13px;
  margin-bottom: 20px;
}
.contact__check-lable a {
  text-decoration: underline;
  transition: var(--transition);
}
.contact__check-lable:hover a {
  color: var(--accent-color);
}
.contact__checkbox {
  cursor: pointer;
  flex-shrink: 0;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #AC907A;
  border-radius: 4px;
  transition: var(--transition);
  position: relative;
}
.contact__checkbox::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url(../images/icons/check.svg) 50% 50%  no-repeat;
  transition: var(--transition);
  opacity: 0;
}
.contact__checkbox:hover {
  border: 2px solid var(--accent-color);
}
.contact__checkbox:checked {
  background: var(--accent-color);
  border: 2px solid var(--accent-color); 
}
.contact__checkbox:checked::before {
  opacity: 1;
}

  
  











