.block {
  background: #353031;
  color: white;
}
.block2__item {
  color: #e014e7;
  width: 250px;
}
.block__little {
  background:#f2092d ;
  width: 100px;
  height: 100px;
}
.block2 {
  background: #d41be8;
  width: 300px;
}
.block2__row {
  color: white;
  background: #000000;
}


