:root {
  --color-bg: #0e0e12;
  --color-text: #fff;
  --font-family: 'Gotham Pro', sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Latin CT Wide", sans-serif;
  --transition: .2s ease-in-out;
  --button-bg: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
  --border-radius: 20px;
  --bg-item: #fff;
}
body {
  font-family: var(--font-family);
  color: var(--color-text);
  background: linear-gradient(180deg, #101010 65.69%, #4d6b63 99.24%) fixed;
  line-height: 1.59;
  font-size: 18px;
  
}
.container {
  padding: 0 60px 0 166px;
  margin: 0 auto;
  height: 100%;
}