:root {
  --font-color: #312C27;
  --title-color: #1F1711;
  --accent-bg: #FFE0CB;
  --accent-color: #FFA55C;
}
.body {
  font-family: 'montserrat', sans-serif;
  color: var(--font-color);
  background-color: #FFF9F4;
  line-height: 1.5;
}
.body--opened-menu {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.main {
  flex-grow: 1;
}
/* ============================BUTTON */
.button {
  font-size: 16px;
  width: 100%;
  border-radius: 100px;
  padding: 18px;
  background-color: var(--accent-color);
  font-weight: 500;
  line-height: 1.6;
  transition: all .4s;
}
.button:hover {
  font-size: 16px;
  width: 100%;
  border-radius: 100px;
  padding: 18px;
  background-color: #FF9138;
  font-weight: 500;
  line-height: 1.6;
}
/*===================HEADER TOP================================*/
.header {
  background: url("../images/decor/bg_header.png") 50% 100% / cover no-repeat;
}
.header__inner {
  margin-top: 19px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.header__logo {
  z-index: 11;
  max-width: 174px;
}
.header__logo-img {
  width: 100%;
}
/* ===================NAVIGATION======================== */
.nav__list {
  display: flex;
  gap: 4vh 40px;
}
.nav__link {
  position: relative;
  padding: 15px 0;
  z-index: 1;
}
.nav__link::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background-color: var(--accent-color);
  border-radius: 50%;
  opacity: 0;
  transition: all .4s;
}
.nav__link:hover::before {
  opacity: 1;
}
/* =================================BURGER ICON */
.burger-icon {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 11;
  background: transparent;
}
.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--font-color);
  transition: all .4s;
}
.burger-icon span { 
  position: relative;
}
.burger-icon span::before,
.burger-icon span::after {
  content: ''; 
  position: absolute;
}
.burger-icon span::before {
  top: 8px;
}
.burger-icon span::after {
  top: -8px;
}
.body--opened-menu .burger-icon span {
  background: transparent;
}
.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after {
  top: 0px;
  transform: rotate(-45deg);
}

/*====================HERO======================= */
.hero {
  margin: 48px 0 140px 0;
}
.hero__inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.hero__info {
max-width: 519px;
}
.hero__subtitle {
  text-transform: uppercase;
  color: #B197B2;
}
.hero__subtitle span {
  display: inline-block;
  margin: 0 10px 3px 10px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #B197B2;
}
.hero__title {
  font-family: 'Gabriola', sans-serif;
  margin: 20px 0 30px 0;
  font-size: 74px;
  line-height: 0.82;
  color: var(--title-color);
}
.hero__text {
  max-width: 358px;
}
.hero__button {
  max-width: 358px;
  margin-top: 40px;
}
.hero__content {
  margin-right: 247px;
  position: relative;
}
.hero__image>img {
  position: relative;
  width: 100%;
}
/* =========ЗНАЧЕК У ДЕВУШКИ С ТОРТОМ================== */
.hero__badge {
  display: flex;
  align-items: center; 
  max-width: 112px;
  gap: 10px;
  position: absolute;
  bottom: 11%;
  right: -19%;
}
.hero__badge--mobile {
  display: none;
}
.hero__badge-play {
  display: block;
  position: relative;
  justify-content: center;
  padding: 39px;
  border-radius: 100px;
  background: var(--accent-bg);
  box-shadow:  0 4px 20px 0 rgba(184, 148, 126, 0.3);
}
.hero__badge-play::after {
  content: '';
  position: absolute;
  inset: 5px;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  opacity: 0;
  transition: all .5s;
}
.hero__badge-play:hover::after {
  opacity: 1;
}
.hero__badge-play img {
position: absolute;
top: 32%;
left: 37%;
}
/* ======================================MEDIA ЗАПРОСЫ */
@media (max-width: 1200px) {
  .hero__content {
    margin: 0;
    max-width: 377px;
  }
  .hero__badge { 
    margin-top: 30px;    
    position: static;
    max-width: none;
    text-align: left;
  }
}
@media (max-width: 900px) {
  .nav {
    position: fixed;
    padding: 26vh 15px 30px;
    inset: 0;
    z-index: 10;
    font-size: 24px;
    background: #FFF9F4;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .body--opened-menu .nav{
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
  .burger-icon {
    display: flex;
  }
}
@media (max-width: 800px) {
  .hero__info {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero__image {
    display: none;
  }
  .hero__badge--mobile {
    display: flex;
  }
}
@media (max-width: 600px) {
  
  .hero__title {
    font-size: 12vw;
  }
}








