body {
    background: #262628;
    color: white;
}

.rectangle {
    
    height: 50px;
    background: #e8dddd;
    border-radius: 5px;
}
.sircle {
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

/* =================================================== */
.fixed {
    position: fixed;
    left: 50%;
    right: 50px;
    bottom: 100px;

    
    
}
.rectangle {
position: relative;

}

.sircle {
    position: absolute;
    left: 30px;
    bottom: 50%;
}

