:root {
  --color-bg: #0e0e12;
  --color-text: #fff;
  --font-family: 'Gotham Pro', sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Latin CT Wide", sans-serif;
  --transition: .2s ease-in-out;
  --button-bg: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
  --border-radius: 20px;
  --bg-item: #fff;
}
html {
  scroll-behavior: smooth;
  
}
body {
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.59;
  font-size: 18px;
}
.body__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.glow {
  width: 275px;
  height: 400px;
  border-radius: 100%;
  background: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
  filter: blur(200px);  
}
/* таймер обратного отсчета=========================== */
.countdown {
  display: none;
  gap: 10px;
  grid-row: span 2;
  font-size: 30px;
  letter-spacing: -0.08em;
  white-space: nowrap;
}
.time {
  display: flex;
  align-items: end;
  gap: 5px;
}
/* preloader=========================================== */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}
/* кнопка=============================================== */
.button {
  flex-shrink: 0;
  padding: 36px 70px;
  font-weight: 700;
  font-size: 22px;
  line-height: 159%;
  text-align: center;
  color: #000;
  border-radius: 20px;
  box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
  background: var(--button-bg);
  transition: var(--transition);
}
.button:hover {
  box-shadow: inset 0 -4px 0 0 #8f4119;
  transform: scale(0.98);
}
/* пустая кнопка======================================== */
.button--empty {
  position: relative;
  padding: 36px 0px;
  font-size: 22px;
  text-align: center;
  background: transparent;
  color: var(--color-text);
  border: 3px solid #CC6C36;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.button--empty:hover {
  transform: scale(0.96);
}
.title {
  font-weight: 700;
  font-size: 70px;
  line-height: 117%;
  text-align: center;
  color: var(--color-text);
}
.subtitle {
  font-size: 25px;
  line-height: 1.58;
  text-align: center;
  color: var(--color-text);
}
/* BURGER ICON==================================================== */
.burger-icon {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  z-index: 11;
  background: transparent;
}
.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: #fff;
}
.burger-icon span {
  position: relative;
}
.burger-icon span::before,
.burger-icon span::after {
  content: '';
  position: absolute;
}
.burger-icon span::before {
  width: 25px;
  top: 8px;
}
.burger-icon span::after {
  width: 20px;
  top: -8px;
}
