@media (max-width: 1550px) {
  .hero__img {
    max-width: 50vw;
    top: 9%;
    right: -17%;
  }
  .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
  }
  .contact-form__button {
    margin-top: 30px;
    grid-column: 1 / -1;
  }
  .footer__glow {
    top: -18%;
    left: 3%;
  }
}
@media (max-width: 1500px) {
  .portfolio__body {
    margin-right: -100px;
  }
  .consalt__wrapper {
    gap: 0px;
  }
  .callback__steps-arrow
  {
    left: 16%;
    top: 30%;
    width: 130px;
  }
  .callback__steps-arrow--2 {
    left: 51%;
    top: 30%;
    width: 130px;
  }
}
@media (max-width: 1450px) {
  .hero__main {
    margin-left: 60px;
  }
  .title {
    font-size: 4vw;
  }
  .subtitle {
    font-size: 2.5vw;
  }
  .nav__list {
    gap: 40px;
  }
  .glow {
    left: -20%;
  }
  .hero__top-info {
    max-width: 500px;
  }
  .hero__title {
    font-size: 5vw;
  }
  .hero__list {
    font-size: 2vw;
    margin: 13px 0px 0px 0px;
  }
  .hero__glow {
    top: 46%;
    right: -2%;
  }
  .hero__img {
    top: 35%;
    right: -21%;
    max-width: 54vw;
  }
  .hero__button {
    padding: 20px 60px 20px 18px;
  }
  .hero__button--empty {
    width: 250px;
  }
  .hero__button-img {
    top: -9%;
    right: -7%;
    width: 90px;
  }
  .service__steps-title {
    width: 100%;
  }
  .service__subtitle {
    margin-bottom: 50px;
  }
  .service__steps {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .service__steps-item {
    max-width: 1000px;
    margin-right: 0px;
    column-gap: 15px;
  }
  .service__steps-number {
    margin-right: 0px;
  }
}
@media (max-width: 1400px) {
  .portfolio__body-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 117%;
  }
  .consalt__wrapper {
    flex-direction: column;
  }
  .consalt__body {
    gap: 20px;
    align-items: center;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .consalt__body-text {
    text-align: center;
    max-width: 100%;
  }
  .consalt__body-button {
    padding: 36px 20px;
  }
}
@media (max-width: 1350px) {
  .portfolio__body-title {
    text-align: center;
  }
  .portfolio__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
  .portfolio__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    max-width: 900px;
  }
  .portfolio__body-text {
    max-width: 100%;
    text-align: center;
  }
  .portfolio__profit {
    padding-left: 0px;
  }
  .radio-box {
    width: auto;
  }
}
@media (max-width: 1300px) {
  .service__subtitle {
    margin-bottom: 80px;
  }
  .portfolio__profit-title {
    font-size: 50px;
  }
  .mobile__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 1250px) {
  .glow {
    left: -30%;
  }
  .header__logo {
    margin-right: 0px;
    z-index: 11;
  }
  .nav {
    padding-top: 150px;
    z-index: 10;
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    font-size: 27px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
  }
  .nav__list {
    flex-direction: column-reverse;
    align-items: end;
    margin-right: 30px;
  }
  .dropdown-content-link {
    transform: translateX(-61px);
    background: #2a342a00;
  }
  .body--opened-menu {
    overflow-y: hidden;
  }
  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;  
  }
  .burger-icon {
    display: flex;
    z-index: 11;
  }
  .hero__top-inner {
    padding: 10px 25px 10px 15px;
  }
  .nav__item-contact::after {
    display: none;
  }
  /* tools================================== */
  .tools__grid {
    padding: 115px 60px 115px 60px
  }
}
@media (max-width: 1200px) {
  /* hero top */
  .hero__top-inner {
    gap: 0px 15px;
  }
  .hero__top-img {
    grid-column: 3 / 4;
    grid-row: span 3;
  }
  .countdown {
    grid-row: 1 / 2;
  }
  .hero__main-arrow {
    top: 39%;
    width: 35px;
  }
  .money__company-item--down {
    margin-top: 0;
  }
  .money__inner {
    margin-top: 15%;
  }
  .bonus__glow--left {
    top: 36%;
    left: -16%;
  }
  .bonus__glow--right {
    top: 36%;
    right: -16%;
  }
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio {
    padding: 143px 0px 200px 0px;
  }
  .portfolio__bottom {
    margin-top: 120px;
    gap: 40px;
    flex-direction: column;
  }
  .callback__steps-arrow,
  .callback__steps-arrow--2 {
    display: none;
  }
  .steps {
    flex-direction: column;
    align-items: center;
  }
  .steps__item {
    align-items: center;
    max-width: 900px;
    margin-right: 0px;
    text-align: center;
  }
  .footer__glow {
    top: -1%;
    left: -6%;
  }
}
@media (max-width: 1150px) {
  .tools__grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 115px 0px 115px 70px
  }
  .contact-form__input {
    max-width: 300px;
  }
}
@media (max-width: 1100px) {
  .hero__main-arrow {
    top: 39%;
  }
  .preloader {
    display: none;
  }
  .tools__support {
    padding: 5px 5px 5px 10px;
  }
  .tools__support  img {
    width: 50px;
  }


}
@media (max-width: 1050px) {
  .callback__steps-arrow,
  .callback__steps-arrow--2 {
    display: none;
  }
  .steps {
    flex-direction: column;
  }

}
@media (max-width: 1000px) {
  
  .hero__wrapper {
    display: block;
  }
  .hero__title {
    font-size: 6vw;
  }
  .hero__list {
    font-size: 2.5vw;
  }
  .hero__img {
    display: none;
}
  .hero__glow {
    display: none;
  } 
  .hero__glow--mobile {
    display: block;
    top: 100%;
    right: 6%;
  }
  .hero__img--mobile {
    display: block;
    position: absolute;
    top: 86%;
    right: -20%;
    max-width: 75vw;
  }
  /* ====main money==== */
  .main__money {
    margin-top: 64%;
  } 
  .hero__main-arrow {
    top: 46%;
  }
  .money__company-item--hidden {
    display: none;
  }
  .bonus__glow--right {
    top: 36%;
    right: -26%;
  }
  .bonus__glow--left {
    top: 36%;
    left: -26%;
  }
  .mobile__img {
    display: none;
  }
  .mobile__info {
    text-align: center;
    max-width: 100%;
  }
  .mobile__list {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
  .mobile__title {
    font-size: 9vw;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-form__input {
    max-width: 376px;
  }
  .footer__glow {
    top: -1%;
    left: -24%;
  }
}
@media(max-width: 950px) {
  .accordeon-list__control-title {
    font-size: 35px;
  }
}
@media(max-width: 900px) {
  .hero__list {
    font-size: 20px;
  }
  .money__company-item--hidden {
    display: none;
  }
  .subtitle {
    font-size: 3vw;
    max-width: 502px;
  }
  .tools__grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 115px 15px 108px 15px;
  }
  .tools__support {
    top: 30%;
  }
  .bonus__glow--right {
    display: none;
  }
  .bonus__decor img {
    width: 85vw;
  }
}
@media(max-width: 850px) {
  .title {
    font-size: 4.5vw;
  }
  .subtitle {
    font-size: 3vw;
  }
  .money__company-img {
    width: 140px;
    height: 140px;
  }
  .bonus__button {
    width: 300px;
  }
  .bonus__button--empty {
    width: 300px;
  }
  .consalt__body-title {
    font-size: 8vw;
    text-align: center;
  }
  .consalt__body-text {
    font-size: 20px;
  }
  .accordeon-list__control-title {
    font-size: 30px;
  }
  .portfolio__body-title {
    font-size: 6vw;
  }
  .portfolio__body-text {
    font-size: 3vw;
  }
}
@media(max-width: 800px) {
  .hero__main {
    margin-left: 30px;
  }
  .hero__title {
    font-size: 6vw;
  }
  .hero__list {
    font-size: 21px;
  }
  .hero__main-arrow {
    top: 33%;
  }
  .glow {
    left: -31%;
    top: -24%;
  }
  .hero__glow--mobile {
    top: 117%;
    right: 13%;
    width: 350px;
    height: 350px;
  }
  .money__company-img {
    width: 130px;
    height: 130px;
  }
  .footer__glow {
    top: 11%;
    left: -49%;
  }
}
@media(max-width: 750px) {
  .hero__list {
    font-size: 2.5vw;
  }
  .hero__img--mobile {
    top: 90%;
    right: -18%;
    max-width: 75vw;
  }
  .hero__button {
    padding: 17px 59px 17px 20px;
    border-radius: 4px;
    box-shadow: 0 3px 49px -3px rgba(226, 128, 72, 0.76);
  }
  .hero__button-img {
    top: -18%;
    right: -8%;
    width: 94px;
  }
  .hero__button--empty {
    position: relative;
    width: 200px;
    border: none;
    
  }
  .hero__button--empty::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    border: 2px solid transparent;
    background: linear-gradient(-90deg, #FE8B25, #FEB019);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 1;
    transition: all .4s ease-in-out;
  }
  .hero__main-arrow {
    top: 36%;
    width: 27px;
    left: -4%;
  }
  .money__inner {
    margin-top: 60%;
  }
  .money__company {
    margin-top: 50px;
  }
  .money__company-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }
  .title {
    font-size: 6vw;
  }
  .button {
    box-shadow: none;
    border-radius: 4px
  }
  .button:hover {
    box-shadow: none;
    transform: scale(0.98);
  }
  .tools__grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 50px 15px 60px 15px;
  }
  .tools__grid-img img {
    padding: 15px;
  }
  .bonus {
    background: none;
    padding: 150px 0px 100px 0px;
  }
  .bonus__button--empty {
    border-radius: 5px;
  }
  .advantages__list-item {
    padding: 30px 20px 100px 20px;
  }
  .accordeon-list__img {
    display: none;
  }
  .accordeon-list__control-title {
    margin-left: 0px;
    text-align: start;
  }
}
@media(max-width: 700px) {
  .header__container {
    margin-left: 50px;
  }
  .hero__top-inner {
    margin: 0 auto;
  }
  .header__box-btn {
    gap: 8px;
  }
  .header__box-login {
    padding: 10px 10px;
  }
  .header__box-login::before {
    border-radius: 10px;
  }
  .header__box-button {
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: inset 0 3px 49px -3px rgba(226, 128, 72, 0.76);
  }
  .header__box-button:hover {
    box-shadow: inset 0 3px 49px -3px rgba(226, 128, 72, 0.76);
  }
  .header__logo-mobile {
    display: block;
  }
  .header__logo {
    display: none;
  }
  .hero__top-wrapper {
    display: flex;
    justify-content: center;
    margin: -10px -100px;
    padding: 0 96px
  }
  .hero__top-inner {
    padding: 10px;
    font-size: 17px;
  }
  /* таймер обратного отсчета */
  .countdown {
    font-size: 25px;
  }
  .countdown span {
    font-size: 19px;
  }
  /* ======================== */
  .hero__title {
    font-size: 8vw;
    
  }
  .hero__list {
    font-size: 3.5vw;
    max-width: 554px;
  }
  .hero__main {
    margin-left: 0px;
  }
  .hero__main-arrow {
    top: 57%;
    width: 37px;
    left: -8%;
  }
  .hero__button--empty {
    width: 165px;
    font-size: 16px;
    border-radius: 4px;
  }
  .hero__button {
    padding: 21px 58px 21px 12px;
    border-radius: 4px;
    font-size: 16px;
  }
  .hero__button-img {
    top: -10%;
    right: -8%;
    width: 80px;
  }
  .hero__users img {
    width: 58px;
  }
  .hero__img--mobile {
    top: 94%;
    right: -22%;
    max-width: 85vw;
  }
  .money__inner {
    margin-top: 70%;
  }
  .subtitle {
    font-size: 4vw;
    max-width: 450px;
  }
  .money__company {
    justify-content: center;
    position: relative;
  }
  .money__company::before {
    left: -15px;
    background: linear-gradient(90deg, #0e0e12 0%, rgba(0, 0, 0, 0) 100%);
  }
  .money__company::after {
    right: -15px;
    background: linear-gradient(-90deg, #0e0e12 0%, rgba(0, 0, 0, 0) 100%);
  }
  .money__company::before,
  .money__company::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
  }
  .money__company-img {
    width: 110px;
    height: 110px;
    border-radius: 15px;
  }
  .money__company-img img {
    width: 70px;
  }
  .apps {
    padding-top: 180px;
  }
  .semisircle-progress-bar {
    width: 530px;
    margin-bottom: -240px;
  }
}
@media(max-width: 650px) {
  .money__comppany-img { 
    width: 110px;
    height: 110px;
    border-radius: 15px;
  }
  .money__comppany-img img {
    width: 60px;
  }
  .money__company-percent {
    font-size: 4vw;
  }
  .money__company-profit {
    font-size: 3vw;
  }
  .bonus__button {
    width: 250px;
  }
  .bonus__button--empty {
    width: 250px;
  }
}
@media(max-width: 600px) {
  .hero__main-arrow {
    top: 53%;
    width: 38px;
    left: -9%;
  }
  .hero__img--mobile {
    top: 92%;
    right: -28%;
    max-width: 96vw;
  }
  .title {
    font-size: 6vw;
  }
  .money__inner {
    margin-top: 80%;
  }
  .money__catalog {
    margin: 35px 0 35px 0;
  }
  .apps__inner {
    display: block;
  }
  .apps__main-title {
    font-size: 9vw;
    text-align: center;
  }
  .apps__main-text {
    font-size: 4vw;
    text-align: center;
  }
  .apps__glow {
    display: none;
  }
  .apps__box-btn {
    justify-content: center;
  }
  .apps__button {
    padding: 20px 15px;
  }
  .footer__inner {
    flex-direction: column;
    align-items: center;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio__button {
    padding: 20px 0;
    width: 265px;
  }
}
@media(max-width: 550px) {
  .hero__main-arrow {
    top: 56%;
    width: 28px;
    left: -9%;
  }
  .countdown {
    font-size: 4vw;
  }
  .hero__top-info {
    font-size: 2vw;
  }
  .hero__top-img {
    width: 50px;
  }
  .hero__button {
    font-size: 15px;
  }
  .hero__button--empty {
    font-size: 15px;
  } 
  .hero__users {
    margin-top: 20px;
    white-space: nowrap;
    font-size: 3vw;
  }
  .hero__users img {
    width: 50px;
  }
  .subtitle {
    font-size: 5vw;
    max-width: 450px;
  }
  .money__company {
    width: auto;
  }
  .money__button {
    width: 300px;
    padding: 20px 0px;
  }
  .tools {
    margin-top: 95px;
  }
  .tools__support img {
    width: 30px;
  } 
  .tools__arrow-up {
    position: absolute;
    bottom: 1%;
    right: 2%;
  }
  .tools__arrow-up + img {
    width: 30px;
  }
  .bonus__decor {
    margin-bottom: -13px;
  }
  .bonus__button,
  .bonus__button--empty {
    padding: 20px 0;
    font-size: 18px;
    width: 200px;
  }
  .advantages__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .money__company::before, .money__company::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 100%;
  }
  .consalt__body-button {
    padding: 20px 11px;
    font-size: 4vw;
  }
  .footer__glow {
    top: 16%;
    left: -84%;
  }
  .portfolio__button {
    font-size: 3vw;
  }
  .semisircle-progress-bar {
    width: 450px;
    margin-bottom: -256px;
  } 
  .portfolio__profit-subtitle {
    font-size: 25px;
  }
  .portfolio__profit-title {
    font-size: 40px;
  }
  .progress-bar {
    max-width: 329px;
    margin-top: -8px;
  } 
  .radio-box {
    font-size: 22px;
  }
}
@media(max-width: 500px) {
  .hero__top-info {
    font-size: 2.5vw;
  } 
  .hero__main-arrow {
    top: 45%;
    width: 35px;
    left: -10%;
  }
  .money__company-img {
    width: 90px;
    height: 90px;
  }
  .money__company-img {
    width: 100px;
    height: 100px;
  }
  .money__company-img img {
    width: 60px;
  } 
  .title {
    font-size: 7vw;
  }
  .money__title {
    max-width: 407px;
  }
  .tools__support {
    top: 2%;
  }
  .tools__title {
    margin-bottom: 30px;
  }
  .bonus__inner {
    padding: 0px 15px;
  }
  .portfolio__title {
    font-size: 13vw;
  }
  .portfolio {
    padding: 80px 0px 200px 0px;
  }
}
@media(max-width: 450px) {
  .countdown {
    gap: 5px;
    font-size: 5vw;
  }
  .hero__main-arrow {
    top: 52%;
    width: 32px;
    left: -11%;
  }
  .hero__box-button {
    gap: 10px;
    
  }
  .hero__button-img {
    top: 0%;
    right: -7%;
    width: 67px;
  }
  .hero__button {
    font-size: 12px;
    padding: 21px 48px 21px 12px
  }
  .hero__button--empty {
    font-size: 12px;
  }
  .money__title {
    font-size: 7vw;
    max-width: 336px;
  }
  .money__company-img {
    width: 90px;
    height: 90px;
  }
  .service__steps-title {
    font-size: 7vw;
}
  .service__steps-number {
    font-size: 200px;
  }
  .bonus {
    padding-bottom: 0px;
  }
  .bonus__box-btn {
    flex-direction: column;
  }
  .apps__box-btn {
    flex-direction: column;
    align-items: center;
  }
  .apps__button {
    
    display: flex;
    justify-content: center;
    width: 280px;
  }
  .consalt {
    padding: 150px 0px 0px 0px;
  }
  .callback {
    position: relative;
    padding: 120px 0 138px 0;
  }
  .contact-form__button {
    padding: 20px 0px;
    width: 280px;
  }
  .contact-form__input {
    padding: 35px 5px 35px 20px;
  }
  .portfolio__body-title {
    font-size: 6vw;
  }
  .portfolio__body-text {
    font-size: 4vw;
  }
  .portfolio__button {
    font-size: 4vw;
  }
  .semisircle-progress-bar {
    width: 370px;
    margin-bottom: -262px;
  }
  .progress-bar {
    max-width: 295px;
  }
  .radio__btn {
    gap: 17px;
}
}
@media(max-width: 400px) {
  .header__container {
    margin-left: 30px;
  }
  .money__company-img {
    width: 75px;
    height: 75px;
  }
  .money__company-img img {
    width: 55px;
  }
  .hero__main-arrow {
    top: 48%;
    width: 29px;
    left: -11%;
  }
  .subtitle {
    max-width: 351px;
  }
  .money__button {
    width: 260px;
    padding: 15px 0px;
    font-size: 18px;
  }
  .apps {
    padding-top: 100px;
  }
  .accordeon-list__control-title {
    font-size: 26px;
  }
  
  .callback__title {
    font-size: 8vw;
  }
}
