/* ====================FOOTER====================================================== */
.footer {
  background: #AB8261;
  padding: 50px 0 66px 0;
  color: #FFF9F4;
}
.footer__inner {
  display: grid;
  gap: 40px 15px;
  grid-template-columns: .9fr .9fr 1.1fr auto;
  justify-content: space-between;
}
.footer__column:first-child {
  margin-top: -30px;
}
.footer__logo {
  max-width: 240px;
  
}
.footer__logo-text {
  margin-bottom: 20px;
}
.footer__column-list {
  margin-top: -5px;
}
.footer__column-item {
  margin-bottom: 10px;
}
.footer__column-item:last-child {
  margin-bottom: 0;
}
.footer__column-link {
  position: relative;
  z-index: 1;
  display: block;
  padding: 5px 0px;
}
/* =========================================================FOOTER LINK HOVER============================================ */
.footer__column-link::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -15px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background-color: var(--accent-color);
  border-radius: 50%;
  opacity: 0;
  transition: var(--transition);
}
.footer__column-link:hover::before {
  opacity: 1;
}
.footer__contact-item {
  margin-bottom: 10px;
}
.footer__contact-item:last-child {
  margin-bottom: 0;
}
.footer__column-tel {
  margin-bottom: 47px;
}
.footer__column-number {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
  transition: var(--transition);
}
.footer__column-number:hover {
  color: var(--accent-color);
}
.footer__column-copyright {
  color: #DEC5B1;  
}
/* =======================================================SOCIALS======================================================== */
.socials {
  line-height: 0;
}
.socials__list {
  display: flex;
  gap: 15px;
}
.socials__link path{
  transition: var(--transition);
}
.socials__link:hover path{
  fill: var(--accent-color);
}