@import "reset.css";
@import "global.css";
/* ================================ */
.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-90deg, #00000000 27%, #0c0c0c 99.24%);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
}
.overlay--show {
  opacity: 1;
  visibility: visible;
}
/* header========================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.header__logo {
  
}
.users__box {
  display: flex;
  align-items: center;
  gap: 31px;
}
.users__message {
}
.users__notifications {
}
.users__img svg {
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  background: #c4c4c4;
}
/* aside============================ */
.sidebar {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 114vh;
  width: 104px;
  background: #050807;
  z-index: 11;
  transition: all 0.9s ease;
}
.burger-icon {
  position: absolute;
  top: 53px;
  left: 30px;
  cursor: pointer;
}
.sidebar--open {
  width: 331px;
}
.sidebar--open .burger-icon g {
  fill: #62A78A;
}
.sidebar__text {
  display: block;
  white-space: nowrap;
  margin-left: 15px;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
}
.sidebar__text--show {
  opacity: 1;
  visibility: visible;
}

.burger-icon svg {
  width: 38px;
}
.sidebar__nav {
  height: 100%;
}
.sidebar__list {
  position: absolute;
  top: 232px;
  left: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.sidebar__item  {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 20px;
}
.sidebar__item-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  left: 43px;
  width: 17px;
  height: 17px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 3px;
  background: #e53223;
}
.sidebar--open .sidebar__item-badge {
  top: 13px;
  left: 43px;
}
/* main============================= */
.main {
  padding-top: 50px;
}
.main__inner {
}
.list {
  display: flex;
  gap: 34px;
}
.list__item {
  min-width: 398px;
  flex-shrink: 0;
}
.list__item-top {
  display: flex;
  justify-content: space-between;
  max-width: 398px;
  margin-bottom: 17px;
}
.list__item-settings {
}
.list__item-body {
  min-height: 334px;
  border-radius: 31px;
  background: #C4C4C4;
}
.main__schedule {
  margin: 57px 0 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1694px;
  height: 466px;
  background: #efefef;
}
